<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.joeldare.classifieds"
        versionCode="100"
        version   = "1.0.0">

    <gap:platform name="android" />

    <name>MelonJS</name>

    <description>
        The MelonJS demo app, ported to Phonegap Build.
    </description>

    <author href="http://www.joeldare.com" email="joel@joeldare.com">
        Joel Dare
    </author>
    
    <icon src="icon.png" />
    
    <preference name="webviewbounce" value="false" />

    <preference name="permissions" value="none" />

</widget>
